/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

 html,
 body {
   font-family: 'Permanent Marker', cursive;
 }
 
 .appbar {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
 
   display: flex;
   align-items: left;
   justify-content: left;
 
   height: 100px;
   padding: 0 16px;
 
   background-color: #f7d736;
   box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
 }
 
 .subtitle{
   margin-top: 40px;
   display: flex;
   align-items: left;
   justify-content: left;
   font-size: 20px;
   color: black;
   
   font-family: "Roboto", sans-serif;
 }
 .logo {
   display: flex;
   align-items: left;
   justify-content: left;
 
   width: 110px;
   height: 80px;
 
 
 }
 /* Você pode usar o CSS comentado abaixo, se ajudar */
 /* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
 .btn {
  
   position: relative;
   display: block;
   padding: 10px 15px;
 
   overflow: hidden;
 
   border-width: 0;
   outline: none;
   border-radius: 2px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
 
   background-color: #f7d736;
 
   transition: background-color 0.3s;
 }
 .form-card{
   display: flex;
   align-items: left;
   justify-content: left;
   margin-top: 8%;
   margin-left: 35%;
   margin-right: 35%;
   padding: 20px;
   border-radius: 2px;
   box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
   background-color: #f7d736;
 }
 .btn > * {
   position: relative;
 }
 
 .btn:before {
   content: "";
 
   position: absolute;
   top: 50%;
   left: 50%;
 
   display: block;
   width: 0;
   padding-top: 0;
 
   border-radius: 100%;
 
   background-color: rgba(236, 240, 241, 0.3);
 
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }
 
 .btn:active:before {
   width: 120%;
   padding-top: 120%;
 
   transition: width 0.2s ease-out, padding-top 0.2s ease-out;
 } 
 
 .card-color-1 {
   background: #ead3a7;
   border-radius: 2px;
   display: inline-block;
   height: 300px;
   margin: 1rem;
   position: relative;
   width: 300px;
   border-radius: 15px;
   box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
   
 }
 .card-title{
   font-size: 20px;
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
   color: black;
   font-family: 'Permanent Marker', cursive;
 }
 .card-content{
   font-size: 15px;
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 5px;
   color: black;
   font-family: 'Permanent Marker', cursive;
 }
 .card-color-2 {
   background:#9de0f5;
   border-radius: 2px;
   display: inline-block;
   height: 300px;
   margin: 15px;
   
   position: relative;
   width: 300px;
   border-radius: 15px;
   box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
 }
 .card-color-3 {
   background:#ef89ba;
   border-radius: 2px;
   display: inline-block;
   height: 300px;
   margin: 1rem;
   position: relative;
   width: 300px;
   border-radius: 15px;
   box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
 }
 .card-color-4 {
   background:#fae890  ;
   border-radius: 2px;
   display: inline-block;
   height: 300px;
   margin: 1rem;
   position: relative;
   width: 300px;
   border-radius: 15px;
   box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
 }
 .card-color-5 {
   background:   #abe9c1;
   border-radius: 2px;
   display: inline-block;
   height: 300px;
   border-radius: 15px;
   margin: 1rem;
   position: relative;
   width: 300px;
   box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
 }